// Variables for colors
$bg-color: #f7f7f7;
$text-color: #333;
$button-color: #ff8800;
$button-hover: #cc6e00;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: $bg-color;

    .error-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        padding: 20px;
        text-align: center;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
        }

        // .error-image {
        //     flex: 1;
        //     margin-bottom: 20px;

        //     img {
        //         width: 100%;
        //         height: auto;
        //         max-width: 300px;
        //         border-radius: 8px;
                
        //     }
        // }

        .error-message {
            flex: 1;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            h1 {
                color: $text-color;
                font-size: 2rem;
                margin-bottom: 10px;
            }

            p {
                color: $text-color;
                margin-bottom: 15px;
                font-size: 1rem;
            }

            button {
                background-color: $button-color;
                color: white;
                border: none;
                padding: 10px 20px;
                font-size: 1rem;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $button-hover;
                }
            }
        }
    }
}